
input[type=button],input[type="text"]{
  width: 100%;
  height: 100%;
  font-size: 30px;
  border-radius: 5px;
}

form{
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

footer{
  text-align: center;
  font-size: 16px;
}

table {
    border-collapse: collapse;
    border: 5px;
    width: 500px;
    height: 400px;
    margin: 12 auto;
}

h1{

	color: white;
	font-family: Times, serif;;
}





